@model ListaLibriViewModel;
@{
	ViewData["Title"] = "Home Page";
}

@if (Model.Libri.Count() > 0)
{
	@foreach (var libro in Model.Libri)
	{
		<a class=" btn btn-primary" asp-controller="Libri" asp-action="Add"> Aggiungi Libro</a>
		<div>			
			<div>Titolo: @libro.Titolo</div>
			<div>Autore: @libro.Autore</div>
			<div>Genere: @libro.Genere</div>
			<div>Disponibile: @(libro.Disponibilità ? "si" : "no")</div>
			<div>
				<img src="@libro.Copertina" alt="@libro.Titolo" style="width: 20%; height: 20%" />
			</div>
		</div>
		<hr />
	}
}
else
{
	<p> Nessun prodotto trovato</p>
}
